* {
  margin: 0px;
  padding: 0px;
}



.App {
  font-family: 'Raleway';
  background-color: #EDF2F7;
  position: relative;
  min-height: 100vh;
}

.wraper {
  padding: 10px;
}

.card {
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);

}

.section-title {
  margin-bottom: 20px;
}

.section {
  margin-top: 20px;
}

.danger {
  background-color: #F56565;
}

.sucsses {
  background-color: #38B2AC;
}